@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'dana';
  src: url('./dana.woff2');
}

body {
  font-family: 'dana';
  @apply bg-slate-300;
}

.dir-ltr {
  direction: ltr;
}